.BattleFinishStyle-container {
  background:unset!important
}

.BattleFinishStyle-container>.-backgroundImageCover {
  position:absolute!important;
  top:0!important
}

.BattleKillBoardComponentStyle-tableContainer table {
  align-items:center!important;
  height:42em!important;
  width:100em!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table) td,:is(.BattleKillBoardComponentStyle-tableContainer table) th {
  box-sizing:border-box!important;
  flex-shrink:0!important;
  margin:0!important;
  max-width:unset!important;
  min-width:unset!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table) tr {
  width:49.5em!important
}

:is(:is(.BattleKillBoardComponentStyle-tableContainer table) tr)>* {
  width:9.28%!important
}

:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table) tr)>*)>* {
  margin:0!important
}

:is(:is(.BattleKillBoardComponentStyle-tableContainer table) tr)>:first-child {
  width:35%!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table)>thead {
  padding-right:1em!important
}

:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>thead)>tr {
  pointer-events:none!important
}

:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>thead)>tr)>:first-child {
  padding-left:.75em!important
}

:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>thead)>tr)>th>:nth-child(2) {
  display:none!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table)>tbody {
  display:grid!important;
  gap:.3em 1em!important;
  grid-auto-flow:column!important;
  grid-auto-rows:min-content!important;
  grid-template-columns:1fr 1fr!important;
  padding-right:1em!important;
  width:100%!important
}

:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>tbody)>tr {
  grid-column:1/2!important;
  height:2.5em!important
}

#enemyCommand:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>tbody)>tr) {
  grid-column:2/3!important
}

#rowSpace:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>tbody)>tr),#teamRowSpace:is(:is(:is(.BattleKillBoardComponentStyle-tableContainer table)>tbody)>tr) {
  display:none!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table):not(:has(>tbody>#teamRowSpace)) {
  width:50em!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table):not(:has(>tbody>#teamRowSpace)) tr {
  grid-column:1/2!important;
  width:50em!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table):not(:has(>tbody>#teamRowSpace))>thead>:nth-child(2) {
  display:none!important
}

:is(.BattleKillBoardComponentStyle-tableContainer table):not(:has(>tbody>#teamRowSpace))>tbody {
  grid-template-columns:1fr!important
}

.BattleResultNavigationComponentStyle-commonBlockButtonNextLeave {
  flex-direction:row!important;
  height:8.125em!important;
  width:17em!important
}

.BattleResultNavigationComponentStyle-commonBlockButtonNextLeave>:first-child {
  margin-bottom:0!important;
  margin-right:.5em!important
}

.BattleResultNavigationComponentStyle-commonBlockProBattleButton {
  flex-direction:row!important;
  height:8.25em!important;
  width:17em!important
}

.BattleResultNavigationComponentStyle-commonBlockProBattleButton>:first-child {
  margin-bottom:0!important;
  margin-right:.5em!important
}
